* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: rgb(5, 5, 5);
    color: white;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:whitesmoke;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active
{
    color: #00abf0;
}

.home{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
   


.home-section{
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  opacity: 0;
  transition: 1s;
  background: black;
    color: white;
}

.hero-heading{
  color: #fff;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
  background: black;
    color: white;
}

.home-img{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.2;
}


.home-content {
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}


.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
   
    background:whitesmoke;
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
}


.home-content p {
    position: relative;
    font-size: 18px;
    margin: 20px 0 40px;
    font-style: italic;
    font-style: oblique;
    

}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    background:whitesmoke;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    background:transparent;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}


.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px ;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #036db9;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 0%;
    height: 100%;
   
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}


.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
   
    animation: showRight 1s ease forwards;
    animation-delay: 2.0s;
    z-index: 2;
}


.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0b2d46; 
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}
/* Add your existing CSS styles above */

/* About Section */
#about {
  
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  
  #about h2 {
    color: #333;
  }
  
  .toggle-buttons {
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline;

  }
  
  .toggle-btn {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  



/* Add this CSS to your existing styles.css file */

.content {
    display: none; /* Initially hide all content */
    transition: height 0.5s ease-in-out; /* Add smooth transition */
  }
  
  .content.active {
    display: block; /* Display active content */
  }
  
  .container {
   
    transition: height 0.5s ease-in-out; /* Add smooth transition */
  }
  
  .content h3 {
    color: #333;
  }
  
  .content p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
  }
  .timeline{
    display: flex;
    width: 80%;
    margin: 100px auto;
}

.timeline .heading{
    margin-bottom: 100px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display:flex;
    margin: -80px 0;
    position: relative;
    background: #007bff;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #21e087;
}

.card:nth-child(5), .card:nth-child(5):before{
    background: #565252;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.containerss {
    width: 100%;
   
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}
   
  .projects .title::after {
    content: "What I did ?";
  }
  
  .projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .projects .carousel .card:hover {
    background: #1e3551;
  }
  
  .projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .projects .carousel .card:hover .box {
    transform: scale(1.05);
  }
  
  .projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
  }
  
  .projects .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #888c8d;
    transition: all 0.3s ease;
  }
  
  .projects .carousel .card:hover img {
    border-color: #fff;
  }
  
  .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #888c8d !important;
    transition: all 0.3s ease;
  }
  
  .owl-dot.active {
    width: 35px;
    border-radius: 14px;
  }
  
  .owl-dot.active,
  .owl-dot:hover {
    background: #18365a !important;
  }

  
  .contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px ;
}
.contact-left-title h2{
    font-weight: 600;
    color: #4fa0ff;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #01577c;
    border-radius: 10px;
    margin-bottom:20px ;

}
.contact-input{
    width: 400px;
    height: 50px;
    border: 0.5px solid grey;
    outline: none;
    padding-left: 25px;
    font-weight:500px ;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-input:focus{
    border: 2px solid #01577c;
}
.contact-input::placeholder{
    color: darkgray;
}
.contact-left .subinput{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(5, 0, 0);
    gap: 10px;
    border: none;
    border-radius: 50px;
    /* background: linear-gradient(270deg, #06a6eb, #0497d6); */
    cursor: pointer;
}
.contact-right img{
    width: 520px;
}
@media (max-width:800px){
    .contact-input{
        width:80vw;

    }
    .contact-right{
        display:none;
    }
}